* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 80%;
  margin: auto;
  background-color: rgb(243, 239, 239);
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.gamer {
  color: rgb(238, 17, 17);
}

.gamer-text {
  font-size: x-large;
}
nav {
  display: flex;
  justify-content: space-between;
}
.about {
  display: flex;
  align-items: center;
  gap: 10px;
}
#li {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: aliceblue;
  padding: 0 10px;
  border-radius: 20px;
  cursor: pointer;
}
ul > li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

/* main */

.main {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
#coat {
  font-size: 40px;
  font-weight: 800;
  color: #f948b2;
}

.sign {
  font-family: "Courier New", Courier, monospace;
  background-color: #f948b2;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.goto {
  background-color: #4ec5f7;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: "Courier New", Courier, monospace;
}
.main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./images/Group\ 14.png");
}
.ab {
  position: relative;
  left: 200px;
}
button {
  cursor: pointer;
}

/* hero section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamer {
  color: #f948b2;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
#an {
  padding: 0px 28px;
}

#sign {
  padding: 15px;
  margin: 10px 27px;
}
.h3 {
  padding: 15px;
  margin: 10px 27px;
  font-size: 30px;
}

.online {
  text-align: center;
}
.color {
  color: #f948b2;
}
.onlineP {
  margin-top: 10px;
  text-align: center;
}

/* card section */
.card {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.cardP {
  margin-top: 10px;
}
:hover#cardImg {
  position: relative;
  cursor: pointer;
}
#cardImgs {
  position: absolute;
  top: 40%;
  left: 28%;
  text-align: center;
}
.colors {
  font-size: 30px;
  color: #f948b2;
  font-weight: 800;
}

.man {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
 
}
.mans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
 
}

#man {
  font-size: 40px;
}
.another {
  font-size: 30px;
  color: #f948b2;
  font-weight: 800;
}
.po {
}
.absu {
  position: relative;
  top: 113px;
  left: 161px;
}
.absus {
  position: relative;
  left: 450px;
 bottom: 161px;
}
.bg{
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: aliceblue;
  border-radius: 50px;
}


.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
}
#grid{
  /* display: grid;
  grid-template-columns: repeat(4,1fr); */
margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 100px;

}
.bg-color{
  background-color: rgb(32, 29, 29);

  margin-top: 100px;
}
.hi{
  display: flex;
  justify-content: center;
}

.footerT{
  color: white;
  font-size: 40px;

}
.s{
  color: rgb(238, 17, 17);
}
.bg-colors{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  
}
.ulF{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: rgb(136, 128, 128);
}